.galBodyContainer {
    margin-top: 8vh;
    height: 88vh;
    /* display:block;     */
    padding: 0vh 20% 0px 20%;

}

/* pill bar  */
.tag-pill-container {
    width: 60vw;
    height: 10vh;
}

.pill-bar {
    height: 100%;
    overflow-x: scroll;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.pill-tag {
    min-height: 25px;
    min-width: fit-content;
    background-color: rgba(66, 66, 66, 0.06);
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    font-weight: 400;
    user-select: none;

}

.pill-tag:hover {
    background-color: rgba(66, 66, 66, 0.1);
}

.pill-tag:active {
    background-color: rgba(66, 66, 66, 0.2);
}

/* gallery */
.galleryComponentHolder {
    background-color: aqua;
    width: 100%;
    /* height:100%; */
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

card {
    background-color: rgba(255, 255, 255);
    height: 30vh;
    display: flex;
    flex: 1 0 24%;
    border-radius: 2%;
    box-shadow: var(--boxShadowColor);
    overflow: hidden;
    position: relative;
    margin: 0px;
}

card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    transition-duration: 1s;
}

card:hover>img {
    top: -100%;
    transition-duration: 1s;
}

card .cardTextContainer {
    position: absolute;
    left: -100%;
    top: 0px;
    /* background-color: rgb(34, 34, 34); */
    height: 100%;
    width: 100%;
    display: flex;
}

card:hover>.contentContainer {
    left: 0%;
    transition-duration: .5s;
}

card content {
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

card content h2 {
    margin: inherit;
    font-weight: 500;
    color: inherit;
    padding-bottom: 4%;
    display: flex;
}

card .breakLine {
    height: 1px;
    background-color: rgb(101, 218, 154);
    display: flex;
}

.descriptionContainer {
    color: inherit;
    overflow: hidden;
    display: flex;
    position: relative;
}

card .descriptionContainer p {
    color: inherit;
    overflow: hidden;
    display: flex;
    font-weight: 400;
}

.bottomOfContent {
    display: flex;
    justify-content: left;
    align-items: center;
    transition-duration: 1s;
    max-height: 85%;
}

card:hover>.cardTextContainer {
    top: 0%;
    transition-duration: 1s;
}

card .cardTextContainer p {
    overflow-y: scroll;
    margin-top: 0px;
}

card .cardTagContainer {
    background: linear-gradient(45deg, rgb(212, 255, 255), rgb(217, 255, 242));
    position: absolute;
    bottom: 5%;
    width: 100%;
    height: 18%;
    border-block: 1px solid var(--gray);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

card .cardTagContainer p {
    overflow-y: hidden;
    margin: 0px;
}