.bodyContainer {
    padding-top: 8vh;
    height: 92vh;
    display: flex;
    /* align-items:center; */
    padding: 12vh 20% 0px 20%;
}

.aboutUsContainer {
    display: flex;
    flex: 1;
    padding-top: 4rem;
    flex-direction: column;
    align-items: center;
}