/* pill bar  */
.tag-pill-container {
  width: 60vw;
  height: 10vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

.pill-bar {
  height: 100%;
  overflow-x: auto;
  gap: 1rem;
  display:flex;
  align-items: center;
  /* justify-content: center; */
}

.pill-tag {
  /* min-height: 25px; */
  /* min-width: fit-content; */
  background-color: var(--prettyButtonColor);
  padding: .5rem 1rem;
  border-radius: 100px;
  font-weight: 400;
  user-select: none;
  display:flex;
  height:min-content;

}

.pill-tag:hover {
  background-color: var(--prettyButtonHover)
}

.pill-tag:active {
  background-color: var(--prettyButtonActive);
}